<h2>{{"shopbycat"|translate}}</h2>
<div class="category">

<div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="http://localhost:4200/book-list" > 
    <img class="card_Category_img" src="../../../../assets/public/img/category_book.jpg" > 
    {{"books"|translate}}</a>

    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="http://localhost:4200/garment-list" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_garment.png" >  
      {{"garments"|translate}}</a>  
    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="http://localhost:4200/videogames" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_videogames.png" > 
      {{"videogames"|translate}}</a>  
    </div>
  
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="http://localhost:4200/toys-list" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_toy.png" > 
      {{"toys"|translate}}</a>  
    </div>

  </div>

</div>
