<div>
  <div class="span">
    <div class="span__container">

      <div class="span__wrap" >
        <div class="card__span">
            <i class="fa-solid fa-truck-fast"></i>
            </div>
        <div class="card__span_text">
          <h4>{{'freeshipping'|translate}}</h4>
          <p>{{'ordersover'|translate}}</p>
        </div>
      </div>
 
      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-solid fa-euro-sign"></i>
        </div>
        <div class="card__span_text">
          <h4>{{'guaranty-returns'|translate}}</h4>
          <p>{{'upto30d'|translate}}</p>
        </div>
      </div>
  
      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-solid fa-headset"></i>
        </div>
        <div class="card__span_text">
          <h4>{{'onlinesupp'|translate}}</h4>
          <p>24/7</p>
        </div>
      </div>

      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-regular fa-credit-card"></i>
        </div>
        <div class="card__span_text">
          <h4>{{'paymentmthods'|translate}}</h4>
          <p>{{'multiplecc'|translate}}</p>
        </div>
      </div>  
      
    </div>
  </div>
</div>
