<p> {{"textoDePrueba" | translate}}</p>
<div class="cards">
  <div class="searchForm">
    <input
      type="text"
      [(ngModel)]="term"
      class="searchTerm"
      placeholder="¿Qué estas buscando?"
    />
  </div>
  <app-product-list
    *ngFor="let toyEl of products| filter : term | paginate: { id: 'foo',
    itemsPerPage: 15,
    currentPage: page,
    totalItems: 60 } "
    [product]="toyEl"
    (onDetail)="getProductDetail(toyEl._id)"
    >
  </app-product-list>
</div>

<div
class="pagination"
>
  <pagination-controls 
  (pageChange)="page = $event" 
  id="foo"
  previousLabel="Previous"
  nextLabel="Next"
  >
  </pagination-controls>
</div>