<div class="searchForm pagination">
  <input
    type="text"
    [(ngModel)]="term"
    class="searchTerm"
    placeholder="¿Qué estas buscando?"
  />  
  </div>

<div class="cards">
  
  <app-product-list
      *ngFor="let productEl of products
      | filter : term
      | paginate: { id: 'foo',
      itemsPerPage: 15,
      currentPage: page,
      totalItems: 210 }"
      [product]="productEl"
      (onDetail)="getProductDetail(productEl._id)"
    >
  </app-product-list>
    
  </div>
  <div class="pagination">
    <pagination-controls
  (pageChange)="page = $event" 
  id="foo"
  previousLabel="Previous"
  nextLabel="Next"
  >
  </pagination-controls>
  </div>
  