<div class="sale__container">
    <h5>{{"shopsales"|translate}}</h5>
        <div class="container" >
    
        <div class="card__sale" >
           <a href="http://localhost:4200/book-list" > <img src="../../../../assets/public/img/{{'salebook'|translate}}" alt=""></a>
        </div>
        <div class="card__sale" >
            <a href="http://localhost:4200/garment-list" ><img src="../../../../assets/public/img/{{'salegarment'|translate}}" alt=""></a>
        </div>
        <div class="card__sale" >
            <a href="http://localhost:4200/videogames" ><img src="../../../../assets/public/img/{{'salevideogame'|translate}}.png" alt=""></a>
        </div>
        <div class="card__sale" >
           <a href="http://localhost:4200/toys" > <img src="../../../../assets/public/img/{{'saletoy'|translate}}" alt=""></a>
        </div>
    </div>
</div>

