<div
class="form"
>
<p>{{'login'|translate}}</p>
    <form
    *ngIf="logForm"
    (submit)="sendFormulario()"
    class="form__content"
    [formGroup]="logForm"
    >
        <input
        name="email"
        formControlName="email"
        placeholder="{{'enteremail'|translate}}" 
        class="form__content-email"
        type="text">
        <p
    *ngIf="!logForm.get('email')?.valid 
      && logForm.get('email')?.dirty 
      && logForm.get('email')?.errors?.['required']"
  >{{'value_req'|translate}}</p>
  <p
    *ngIf="!logForm.get('email')?.valid 
      && logForm.get('email')?.touched 
      && logForm.get('email')?.errors?.['pattern']"
  >{{'email_not_valid'|translate}}</p>
        <input
        name="password"
        formControlName="password"
        placeholder="{{'yourpassword'|translate}}"
        class="form__content-password"
        type="password">
        <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.dirty 
      && logForm.get('password')?.errors?.['required']"
  >{{'value_req'|translate}}</p>
  <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.dirty 
      && logForm.get('password')?.errors?.['maxlength']"
  >{{'password_req'|translate}}</p>
  <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.touched  
      && logForm.get('password')?.errors?.['minlength']"
  >{{'password_req'|translate}}</p>
        <p 
        *ngIf="userError"
        class="form__content-error"
        >{{ userError }}</p>
        <button
        [disabled]="!logForm.valid"
        type="submit"
        class="button">{{'send'|translate}}</button>
    </form>
    <h3
    class="form__content-loginNotUser"
    >{{'notuseryet'|translate}} 
    <a 
      (click)="goToRegister()"
    >{{'signup'|translate}}</a></h3>
</div>