
<div
class="form"
>
<p>{{'createacc'|translate}}</p>
    <div>
      <img 
      *ngIf="selectedAvatar"
      class="imageAvatar"
      [src]="selectedAvatar" 
      alt="imagen avatar">
    </div>
    <form
    *ngIf="regForm"
    (submit)="sendFormulario()"
    class="form__content"
    [formGroup]="regForm"
    >
        <input
        name="name"
        formControlName="name"
        placeholder="{{'yourname'|translate}}" 
        class="form__content-name"
        type="text">
        <p
      *ngIf="!regForm.get('name')?.valid 
        && regForm.get('name')?.dirty  
        && regForm.get('name')?.errors?.['required']"
    >{{'value_req'|translate}}</p>
        <input
        name="surname"
        formArrayName="surname"
        placeholder="{{'yourlastname'|translate}}" 
        class="form__content-surname"
        type="text">
        <input
        name="phone"
        formControlName="phone"
        placeholder="{{'yourphone'|translate}}" 
        class="form__content-phone"
        type="text">
        <p
    *ngIf="!regForm.get('phone')?.valid 
      && regForm.get('phone')?.touched 
      && regForm.get('phone')?.errors?.['minlength']"
  >{{'phone_req'|translate}}</p>
  <p
    *ngIf="!regForm.get('phone')?.valid 
      && regForm.get('phone')?.dirty 
      && regForm.get('phone')?.errors?.['maxlength']"
  >{{'phone_req'|translate}}</p>
  <p
    *ngIf="!regForm.get('phone')?.valid 
      && regForm.get('phone')?.dirty 
      && regForm.get('phone')?.errors?.['pattern']"
  >{{'onlynumbers'|translate}}</p>
        <select
        class="form__content-avatar"
        name="avatar" 
        formControlName="avatar">
            <option 
            class="form__content-option"
            default value="">{{'sel_svatar'|translate}}</option>
            <option
            class="form__content-option"
            *ngFor="let avatar of avatares; let i = index"
            [value]="avatar">avatar- {{ i + 1 }}</option>
        </select>
        <input
        name="email"
        formControlName="email"
        placeholder="{{'enteremail'|translate}}" 
        class="form__content-email"
        type="text">
        <p
    *ngIf="!regForm.get('email')?.valid 
      && regForm.get('email')?.dirty 
      && regForm.get('email')?.errors?.['required']"
  >{{'value_req'|translate}}</p>
  <p
    *ngIf="!regForm.get('email')?.valid 
      && regForm.get('email')?.touched 
      && regForm.get('email')?.errors?.['pattern']"
  >{{'email_not_valid'|translate}}</p>
        <input
        name="password"
        formControlName="password"
        placeholder="Introduzca su contraseña" 
        class="form__content-password"
        type="password">
        <p
    *ngIf="!regForm.get('password')?.valid 
      && regForm.get('password')?.dirty 
      && regForm.get('password')?.errors?.['required']"
  >{{'value_req'|translate}}</p>
  <p
    *ngIf="!regForm.get('password')?.valid 
      && regForm.get('password')?.dirty 
      && regForm.get('password')?.errors?.['maxlength']"
  >{{'value_req'|translate}}</p>
  <p
    *ngIf="!regForm.get('password')?.valid 
      && regForm.get('password')?.touched  
      && regForm.get('password')?.errors?.['minlength']"
  >{{'password_req'|translate}}</p>
        <p 
        *ngIf="userError"
        class="form__content-error"
        >{{ userError }}</p>
        <button
        [disabled]="!regForm.valid"
        type="submit"
        class="button">{{'send'|translate}}</button>
    </form>

</div>